{% extends 'base_card.html' %}
{% block title %}Password reset{% endblock %}

{% block card_body %}
    <div class="card-title text-center">
        <img src="img/logo.png" alt="" class="">
        <h5 class="mt-3"><b>Forgot password?</b></h5>
        <p>Please enter your email,
            you will receive instructions on how to restart your password.</p>
    </div>
    <form class="form mt-3" method="post">
        {% csrf_token %}
        <div class="form-group col-sm-12 mt-2">
            <label for="Email">Email:</label>
            <input type="email" name="email" autofocus=""
                   class="form-control form-control-line" placeholder="Email"
                   id="Email" autocapitalize="none" autocomplete="email"
                   maxlength="254" required="">
            {% if form.email.errors %}
                <div data-field="email" class="invalid-feedback">
                    {{ form.email.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <div class="form-group mt-3">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Send instructions
                </button>
            </div>
        </div>

        <div class="form-group m-2">
            <div class="col-sm-12 mt-4 text-center">
                <a class="p-3" href="{% url 'mind_auth:login' %}"><i
                        class="fa fa-lock m-r-5"></i> Return to login</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block page_end %}
    <script type="module">
        import addStyle from "./js/error_style.js";

        const invalid = [
            {% for field in form %}
                {% if field.errors %}
                    "{{ field.label }}",
                {% endif %}
            {% endfor %}
        ];
        invalid.forEach(addStyle);
    </script>
{% endblock %}